*/DerivedData/*
.DS_Store
xcuserdata

#visual studio files
*.sdf
*.suo
*.vcxproj.user
Debug
Release
Backup

#make output
*.o
*.d

# game files
*.wl1

#em output
Chocolate-Wolfenstein-3D
Chocolate-Wolfenstein-3D.*